
<!--section class="panel panel-default panel-body row"-->
<style>
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: yellow;
}

</style>


<form (ngSubmit)="getTransByPage()">

  <div *ngIf="failed" class="alert alert-danger">
                    <strong> Invalid credentials, please retry! </strong>
  </div>
  <div>
      <table class="table table-striped">
       <th>
         
           </th>         
          <th> <input type="date" placeholder="Transaction Date" required name="uname"  class="form-control"></th> 
          <th> <input type="text" placeholder="Description" required name="Dist"  class="form-control"></th> 
          <th> <input type="text" placeholder="Header Code" required name="Dist"  class="form-control"></th> 
          
          <th> <button class="btn btn-primary pull-right btn-md" type="submit" >List</button></th>
      </table>       
  </div>
  
  <div *ngIf="transListCount"> 
  <div class="panel panel-default">
        <div class="panel-heading" style="background-color:yellow"> Income-Expenses of Thanga Jothi Gnana Sabai Trust</div>
        
        <table class="table table-striped">
        <thead>
        <tr>
            <th>From Date </th>
            <th>To   Date </th>
            <th>Description</th>
            <th>Amount</th>
            <th>Income-Expense</th>
            
        </tr>
        </thead>
        <tbody>
                <tr class="item" *ngFor="let trans of transList;let i = index"  (click)="selectCall(trans)">>
                    <td>  {{trans.transDate}}  </td>
                    <td>  {{trans.description}}  </td>
                    <td>  {{trans.amount}}      </td>
                    <td>  {{trans.headerCode}}      </td>
                </tr>
         <tbody>
        </table>
  </div>
  
  <div class="btn-group">
    <a class="btn btn-info" role="button" (click)="addNewTransaction()" > Add New  </a>
    <a class="btn btn-info" role="button"(click)="modifyTransaction()" > Modify   </a>
    <a class="btn btn-info" role="button" (click)="copyNewTransaction()"> Copy    </a>
    <a class="btn btn-info" role="button"(click)="deleteTransaction()">  Delete  </a>
  </div>
 
  <div class="pagination pagination-sm">
        <a class="btn btn-info" role="button"(click)="setPageNumber(-1)">&laquo;</a>
        <a  *ngFor="let page of pageList;let i = index"  (click)="selectPage(page)" 
         class="btn btn-info" role="button" >{{page}}</a>
        <a class="btn btn-info" role="button" (click)="setPageNumber(-2)">&raquo;</a>
  </div>  
  

<!--/section -->
  <!--div id="myModal" class="modal" -->
   <div *ngIf="showDetail == 1"> 
           
           <div class="input-group">
            <input [disabled]="nonEdit"  id="desc" type="date" class="form-control" name="td" 
                [(ngModel)]="trans.transDate" placeholder="Transcation Date">
                <span class="input-group-addon bg-primary" style="background-color:yellow">Transcation Date       </span>
            </div>
            
            <div class="input-group">
                 
                <input [disabled]="nonEdit"   id="desc" type="text" class="form-control" name="Desc" 
                [(ngModel)]="trans.description" placeholder="Transcation Description">
                <span class="input-group-addon"style="background-color:yellow" >Transcation Description</span>
            </div>
            <div class="input-group">
                 
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="amt" 
                [(ngModel)]="trans.amount" placeholder="Amount">
                <span class="input-group-addon" style="background-color:yellow">Amount(Rs)</span>
            </div>
            <div class="input-group">
                 
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="IE" 
                [(ngModel)]="trans.inExp" placeholder="Transcation Description">
                <span class="input-group-addon" style="background-color:yellow" >Income/Expense</span>
            </div>
            <div class="input-group">
                 
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="Vo" 
                [(ngModel)]="trans.voucherNo" placeholder="Voucher #">
                <span class="input-group-addon" style="background-color:yellow">Voucher Number</span>
            </div>
            <div class="input-group">
                 
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="hc" 
                [(ngModel)]="trans.headerCode" placeholder="Header Code">
                <span class="input-group-addon" style="background-color:yellow">Header Code</span>
            </div>
            <div class="input-group">
                 
            <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="OI" 
                [(ngModel)]="trans.otherInfo" placeholder="Other Info">
                <span class="input-group-addon" style="background-color:yellow">Other Info</span>
            </div>
            <br>
          
            <div class="btn-group">
                <a class="btn btn-info" role="button"(click)="saveButtonClicked()">  Save  </a>
                <a class="btn btn-info" role="button"(click)="cancelButtonClicked()">  Cancel  </a>  
            </div>
        </div>        
   </div>
</form>     

