
<!--section class="panel panel-default panel-body row"-->


<form (ngSubmit)="getAnbarsByPage()">

  <div class="row"> 
        <div class="col-sm-3">
                <div class="input-group">
                        <label for="gn">Diksha Guru :</label>
                        <a data-toggle="modal"  data-target="#guruListModal">
                            <input type="text"  [(ngModel)]="filter_guru" class="form-control" id="gn" 
                            placeholder="GuruName " name="gn">  
                        </a>
                </div>
        </div>     

        <div class="col-sm-3">
                <div class="input-group">
                    <label for="Aname">Anbar Name :</label>
                    <input type="text"   [(ngModel)]="filter_name" placeholder="Anbar Name" 
                    required name="Aname" class="form-control" name="Aname"  > 
                </div> 
            </div>
                
            <div class="col-sm-3">
                <div class="input-group">
                            <label for="Cname">City :</label>
                        <input type="text" [(ngModel)]="filter_city" placeholder="City" 
                        required name="Cname" class="form-control"  >
                    </div> 
            </div>
            
            <div class="col-sm-3">
                    <div class="input-group">
                        <label for="Dist">District :</label>
                        <input type="text" [(ngModel)]="filter_dist"placeholder="District" 
                        name=""Dist required name="Dist"class="form-control"  >
                    </div>
            </div>

            <div class="col-sm-3">
                    <div class="input-group">
                    <label for="state">State :</label>
                        <input type="text" placeholder="State" [(ngModel)]="filter_state"  name="state" 
                        required name="state" class="form-control" >
                    </div> 
            </div>

            <div class="col-sm-3">
                <div class="input-group">
                    <label for="fDate">From Diksha Date :</label>
                        <input type="date" placeholder="From Date" [(ngModel)]="filter_fDate"
                            required name="fDate" class="form-control" >
                    </div> 
            </div>
            
            <div class="col-sm-3">
                <div class="input-group">
                    <label for="tDate"> To Diksha Date :</label>
                <input type="date" placeholder="To Date" [(ngModel)]="filter_tDate" required name="state"
                    name='tDate' class="form-control" >
                    </div> 
            </div>
            
            <div class="col-sm-2">
                <label>Click To View  </label>   
                        <button class="btn btn-primary pull-left btn-md" type="submit" >List Anbar</button>
            </div>        
     </div>  <hr> <!-- end of criteria -->

 <div *ngIf="anbarListCount"> 
    <div class="panel panel-default">
            <div class="panel-heading">Member of Thanga Jothi Gnana Sabai Trust</div>
            
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Init Thru</th>
                    <th>City</th>
                    <th>Dist</th>
                    <th>State</th>
                    <th>Guru is God</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let eAnbar of AnbarList;let i = index"  (click)="selectCall(eAnbar)">
                    <td>{{eAnbar.userName}}</td>
                    <td>{{eAnbar.initThru}}</td>
                    <td>{{eAnbar.city}}</td>
                    <td>{{eAnbar.dist}}</td>
                    <td>{{eAnbar.state}}</td>
                    <td>  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open</button> </td>

                    </tr>
                </tbody>
            </table>
            <div *ngIf="anbarListCount" class="pagination pagination-sm">
                    <a class="btn btn-info" role="button"(click)="setPageNumber(-1)">&laquo;</a>
                    <a  *ngFor="let page of pageList;let i = index"  (click)="selectPage(page)" 
                    class="btn btn-info" role="button" >{{page}}</a>
                    <a class="btn btn-info" role="button" (click)="setPageNumber(-2)">&raquo;</a>
            </div>  
     </div>
 </div>   
 
   <button type="button" (click)="addNewAnbar()" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add New</button>
   <button type="button" (click)="listAnbarPhp()" >Add NewPhp</button>
</form>     

<!-- start of  Guru modal -->
 <div class="modal fade" id="guruListModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Guru </h4>
        </div>
  
        <div class="modal-body">
            <ng-container *ngFor="let nc of guruNames; let i = index" >
                <button class="btn form-control btn-warning btn-rounded" 
                    [value]="nc.dataName"  (click)="selectG(nc.dataName)" data-dismiss="modal">
                    {{nc.dataName}}
                </button>
            </ng-container>

        </div>
            
        <div class="modal-footer">
           <button type="button" class="flat-butt flat-outer-butt" data-dismiss="modal">Close</button>
         </div>
     
      </div>
      
    </div>
  </div>
<!-- end of guru modal -->



<!-- Anbar Details Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog  modal-md">
    
      <!-- Modal content-->
    <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Anbar Details</h4>
        </div>
  
    <div class="modal-body">
 
    <div class="row">
         <div class="col-sm-6">
            <div class="input-group">
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="un" 
                [(ngModel)]="anbar.userName" placeholder="User Name">
                <span class="input-group-addon" style="background-color:khaki; color:#000">Anbar Name</span>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="input-group">
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="pn" 
                [(ngModel)]="anbar.phoneNo" placeholder="Mobile">
                <span class="input-group-addon"style="background-color:khaki; color:#000">Phone No</span>
            </div>
        </div>
    </div> 

    <div class="row">
         <div class="col-sm-6">
          <div class="input-group">
           <input  [(ngModel)]="anbar.initThru" placeholder="GuruName" [disabled]="nonEdit" list="browsers" name="browser"  class="form-control">
            <datalist id="browsers">
                <option *ngFor="let nc of guruNames" [value]="nc.dataName"> {{nc.dataName}} </option>      
            </datalist>
                <span class="input-group-addon" style="background-color:khaki; color:#000">Initiated Through </span>
            </div>        
        </div>
        <div class="col-sm-6" >
              <div class="input-group">
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="em" 
                [(ngModel)]="anbar.emailId" placeholder="MailId">
                <span class="input-group-addon" style="background-color:khaki; color:#000">E-Mail Id</span>
               </div>
            </div>
       </div>
     
       <div class="row">
         <div class="col-sm-6">
             <div class="input-group">
                <textarea rows="3" cols="50" [disabled]="nonEdit"  id="desc"  class="form-control" name="ad" 
                [(ngModel)]="anbar.address" placeholder="Address"> </textarea>
                <span class="input-group-addon" style="background-color:khaki; color:#000">Address </span>
            </div>
         </div>
          <div class="col-sm-6">
             <div class="input-group">
                <textarea rows="3" cols="50"[disabled]="nonEdit"  id="desc"  class="form-control" name="ne" 
                [(ngModel)]="anbar.locality" placeholder="Locality"></textarea>
                <span class="input-group-addon" style="background-color:khaki; color:#000">Locality-Landmark </span>
            </div>
          </div>
       </div>

    <div class="row">
       <div class="col-sm-6">
            <div class="input-group">
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="ci" 
                [(ngModel)]="anbar.city" placeholder="City">
                <span class="input-group-addon" style="background-color:khaki; color:#000">City </span>
            </div>
        </div>
        <div class="col-sm-6" >
               <div class="input-group">
                    <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="dt" 
                    [(ngModel)]="anbar.dist" placeholder="District">
                    <span class="input-group-addon" style="background-color:khaki; color:#000">District </span>
               </div>
            </div>
    </div>

    <div class="row">
         <div class="col-sm-6">
               <div class="input-group">
                <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="at" 
                [(ngModel)]="anbar.state" placeholder="State">
                <span class="input-group-addon"style="background-color:khaki; color:#000">State </span>
            </div>
        </div>

        <div class="col-sm-6" >
            <div class="input-group">
                    <input [disabled]="nonEdit"  id="desc" type="text" class="form-control" name="co" 
                    [(ngModel)]="anbar.country" placeholder="Country">
                    <span class="input-group-addon" style="background-color:khaki; color:#000">Country </span>
            </div>
        </div>
     </div>
    
    
    <div class="row">
         <div class="col-sm-12">
               <div class="input-group">
    
                <!--input type="date" [value]="anbar.initDate | date:'dd-MMM-yyyy'" 
                 class="form-control" name="at" (input)="anbar.initDate = $event.target.valueAsDate" /-->

                <input [ngModel]="anbar.initDate | date:'yyyy-MM-dd'" (ngModelChange)="anbar.initDate = $event" 
                class="form-control" [disabled]="nonEdit"  type="date" name="initDate"/>


                <!--input [disabled]="nonEdit"  id="desc" type="<date></date>" 
                class="form-control" name="at" 
                [(ngModel)]="anbar.initDate" placeholder="Diksa Date"-->
                
                <span class="input-group-addon"style="background-color:khaki; color:#000">Thiruvadi Diksa Date </span>
            </div>
        </div>
    </div>   


    </div>
       
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6" >
                    <div class="btn-group">
                        <a class="btn btn-info" role="button" (click)="addNewAnbar()" > Add  </a>
                        <a class="btn btn-info" role="button"(click)="modifyAnbar()" > Modify   </a>
                        <a class="btn btn-info" role="button" (click)="copyNewAnbar()"> Copy    </a>
                        <a class="btn btn-info" role="button"(click)="deleteAnbar()">  Delete  </a>
                    </div>
            </div>
            <div class="col-sm-6 col-sm-pull-0" >
                <div class="btn-group">
                    <a class="btn btn-primary" role="button"(click)="saveButtonClicked()" data-dismiss="modal">  Save  </a>
                    <a class="btn btn-warning" role="button"(click)="cancelButtonClicked()" data-dismiss="modal">  Cancel  </a>  
                </div>
            </div>
        </div> 
      </div>

      </div>
      
    </div>
  </div>
    <!-- modal-->

<style>
    .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: yellow;
    }
</style>
